.item {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.icon {
  flex-shrink: 0;
  width: var(--font-line-base);
  height: var(--font-line-base);
}

.text {
  white-space: nowrap;
  opacity: 1;
  transition: opacity 0.2s;
}

.item.collapsed {
  .text {
    width: 0;
    opacity: 0;
  }
}
