.title {
  font: var(--font-lg);
}

.text {
  font: var(--font-base);
}

.primary {
  .title {
    color: var(--primary-color);
  }

  .text {
    color: var(--secondary-color);
  }
}

.error {
  .title {
    color: var(--red-light-color);
  }

  .text {
    color: var(--red-dark-color);
  }
}
