.button {
  padding: 6px 15px;
}

.filled.primary {
  color: var(--inverted-primary-color);
  background: var(--primary-color);
}

.filled.primary.inverted {
  color: var(--primary-color);
  background: var(--inverted-primary-color);
}

.filled.background {
  color: var(--primary-color);
  background: var(--bg-color);
}

.filled.background.inverted {
  color: var(--inverted-primary-color);
  background: var(--inverted-bg-color);
}

.outlined.primary {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.outlined.primary.inverted {
  color: var(--inverted-primary-color);
  border: 1px solid var(--inverted-primary-color);
}

.outlined.background {
  color: var(--bg-color);
  border: 1px solid var(--bg-color);
}

.outlined.background.inverted {
  color: var(--inverted-bg-color);
  border: 1px solid var(--inverted-bg-color);
}

.text.primary {
  color: var(--primary-color);
}

.text.primary.inverted {
  color: var(--inverted-primary-color);
}

.text.background {
  color: var(--bg-color);
}

.text.background.inverted {
  color: var(--inverted-bg-color);
}

.base {
  font-size: var(--font-size-base);
}

.lg {
  font-size: var(--font-size-lg);
}

.xl {
  font-size: var(--font-size-xl);
}

.square {
  padding: 0;
}

.square.base {
  width: var(--font-line-base);
  height: var(--font-line-base);
}

.square.lg {
  width: var(--font-line-lg);
  height: var(--font-line-lg);
}

.square.xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
}

.compact {
  padding: 0;
}

:disabled {
  opacity: 0.5;
}
