.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn {
  width: max-content;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #eee;
  cursor: pointer;
}
