.code {
  position: relative;
  padding: 20px;
  overflow-x: auto;
  background: var(--code-bg);
  border: 1px solid var(--primary-color);
}

.copy-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.copy-icon {
  stroke: var(--primary-color);
}
